/* Styles Digimons component */

.digimons {
  width: 280px;
}

.digimons .header {
  background-color: #f0f0f0;
  border-radius: 10px 10px 0px 0px;
}

.digimons img {
  width: 7rem;
  border-radius: 10%;
  position: relative;
  bottom: -3.125rem;
}

.digimons .footer {
  display: block;
  background: #ffffff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;
  padding-top: 5.625rem;
  padding-bottom: 2.5rem;
}

.digimons .footer h4 {
  color: #6278f7;
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin-bottom: 0.5rem;
}

.digimons .footer h6 {
  color: #212121;
  padding: 0 16px;
}
