/* Styles StageEvolution component */

.stage-evolution {
  text-align: center;
  padding: 2rem;
}

.stage-evolution h3 {
  font-size: 2rem;
  border-bottom: 4px solid;
  display: inline-block;
  padding-bottom: 0.5rem;
}

.stage-evolution .container-digimons {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  flex-wrap: wrap;
}
